
/* --------------------------------------------- HEADER */
header a {
    color: #5b6987;
    text-decoration: none;
}

header a:hover {
    color: #0069ff;
    text-decoration: none;
}

#top-menu.navbar {
    background-color: #fff;
    min-height: 40px;
    margin-bottom: 0px;
    border-radius: 0px;
}

#top-menu .navbar-header {
    padding: 10px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#top-menu .navbar-default .navbar-collapse {
    border-bottom: 1px;
    border-color: #bbb;
    border-radius: 0px;
}

#top-menu .nav > li > a {
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 10px 15px;
}

#top-menu .label {
    font-weight: 400;
    color: #031b4e;
    background-color: #00d7d2;
    padding: 4px 7px;
    margin: 0px 10px;
    line-height: 0px;
    border-radius: 5px;
}

#top-menu .label-new {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

#bottom-menu .navbar-brand img {
    max-width: 180px;
}

#bottom-menu.navbar {
    border: 0px solid transparent;
    margin-bottom: 0px;
}

#bottom-menu .container-fluid {
    background-color: #fff;
    height: 70px;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}

#bottom-menu .navbar-collapse.collapse {
    height: 70px;
}

#bottom-menu .navbar-brand {
    padding: 7px 20px;
    padding-right: 70px;
}

.navbar-brand {
    padding: 0px 30px;
}

#bottom-menu li a {
    font-size: 15px;
    color: #031b4e;
}

#bottom-menu li a:hover {
    color: #0069ff;
}

#bottom-menu .fa-angle-down {
    font-size: 15px;
    color: #031b4e;
}

#bottom-menu .navbar-right > li > a {
    font-size: 15px;
    font-weight: 500;
    color: #0069ff;
    padding: 7px 15px;
    border-radius: 7px;
    border-color: #0069ff;
    margin-top: 7px;
    margin-right: 15px;
}

#bottom-menu .navbar-hamburger {
    display: none;
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
}

.navbar-hamburger .fa-bars {
    font-size: 26px;
    color: #0069ff;
}

.hamburger-menu {
    position: relative;
}



/*------------------------------------------ MEDIA QUERY */

@media (max-width: 1050px) {
    #top-menu .navbar-right {
        display: none;
    }

    #bottom-menu .sign-up.btn.btn-default {
        display: none;
    }

    #bottom-menu .navbar-left {
        display: none;
    }

    #bottom-menu .navbar-hamburger {
        display: inline-block;
        position: absolute;
        right: 20px;
        margin-top: 6px;
    }

    main .jumbotron {
        background-image: none;
        background-color: #0069ff;
        min-height: 800px;
    }

    .jumbotron #jumbo-left {
        padding-top: 100px;
    }

}


/* ------------------------------------------ MEDIA 767px */

@media (max-width: 767px) {
    #top-menu.navbar {
        padding: 0px 15px;
    }

#bottom-menu .navbar-brand img {
    max-width: 130px;
}

#bottom-menu .container-fluid {
    height: 60px;
    border-bottom: 0px;
}

#bottom-menu .navbar-default {
    height: 60px;
}
}




/* -------------------------------------------- JUMBOTRON */

.jumbotron {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-color: #0069ff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    margin-top: 42px;
    min-height: 800px;
}

#jumbo-left {
    padding-top: 190px;
}

#jumbo-left h1 {
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

#jumbo-left p {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: #fff;
    font-stretch: 100%;
    opacity: 0.8;
    letter-spacing: 1.1px;
}

#jumbo-right .bg-white {
    height: 540px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 110px;
    padding: 30px;
    text-align: center;
}

#jumbo-right .bg-white h2 {
    font-weight: 600;
    margin-bottom: 40px;
}

#jumbo-right .form-control {
    font-size: 16px;
    height: 48px;
    color: rgba(3, 27, 78, 0.8);
    border-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: inset 0 0 0 transparent;
}

#jumbo-right .bottone {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    height: 48px;
    background-color: #0069ff;
    border: 0;
}

#jumbo-right .bottone:hover {
    background-color: #1633ff;
}

/* #jumbo-right .bg-white p {
    font-size: 18px;
    color: #aaa;
    font-weight: 400;
    margin: 15px 0;
}

#jumbo-right .bg-white p::after {
    content: '';
    display: inline-block;
    width: 100px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    margin-left: 15px;
}

#jumbo-right .bg-white p::before {
    content: '';
    display: inline-block;
    width: 100px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    margin-right: 15px;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto 150px auto;
  grid-gap: 1px;
  font-size: 18px;
  margin: 20px 0px;
}

.item1, .item3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

#jumbo-right .bottoni-social .bottone-google {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: #f2f8ff;
    border-radius: 3px;
}

#jumbo-right .bottoni-social .bottone-github {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: #f2f8ff;
    border-radius: 3px;
}

#jumbo-right .bottoni-social {
    margin-bottom: 20px;
}



















/* END */
